<!-- <p>details works!</p> -->

<main>
  <div class="container">
    <!-- <button (click)="onPrevCountry()" >Prev</button> -->
    <div class="details-main">
      <div class="back">
        <button class="back-btn" (click)="gotoDashboard()">Back</button>
      </div>
      
        <div class="prev">
        
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" (click)="onPrevCountry()"><path d="M137.4 406.6l-128-127.1C3.125 272.4 0 264.2 0 255.1s3.125-16.38 9.375-22.63l128-127.1c9.156-9.156 22.91-11.9 34.88-6.943S192 115.1 192 128v255.1c0 12.94-7.781 24.62-19.75 29.58S146.5 415.8 137.4 406.6z"/></svg>
        </div>
        <div class="details">
          <div>
            <img src="{{ detail.flags.svg }}" alt="flag" class="flag" />
          </div>
          <div class="country-content">
            <div class="country-name">
              <h2>{{ detail.name }}</h2>
            </div>
            <div class="country-details">
              <div>
                <p><strong>Native Name:</strong> {{ detail.nativeName }}</p>
                <p>
                  <strong>Population:</strong>
                  {{ detail.population.toLocaleString("en-IN") }}
                </p>
                <p><strong>Region:</strong> {{ detail.region }}</p>
                <p><strong>Subregion:</strong> {{ detail.subregion }}</p>
                <p><strong>Capital:</strong> {{ detail.capital }}</p>
              </div>
              <div>
                <p>
                  <strong>Top Level Domain:</strong>
                  {{ detail.topLevelDomain[0] }}
                </p>
                <p><strong>Timezone:</strong> {{ detail.timezones[0] }}</p>
                <p>
                  <strong>Currencies:</strong> {{ detail.currencies[0].name }}
                </p>
                <p>
                  <strong>Languages: </strong>
                  <span *ngFor="let language of languages"
                    >{{ language.name }}&nbsp;
                  </span>
                </p>
              </div>
            </div>
            <div class="border-countries" *ngIf="borderCountries.length > 0">
              <strong>Border Countries: </strong>
              <button
                *ngFor="let borderCountry of borderCountries"
                (click)="goToBorderCountryDetails(borderCountry)"
              >
                {{ borderCountry }}
              </button>
            </div>
          </div>
        </div>
        <div class="next">

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" (click)="onNextCountry()"><path d="M118.6 105.4l128 127.1C252.9 239.6 256 247.8 256 255.1s-3.125 16.38-9.375 22.63l-128 127.1c-9.156 9.156-22.91 11.9-34.88 6.943S64 396.9 64 383.1V128c0-12.94 7.781-24.62 19.75-29.58S109.5 96.23 118.6 105.4z"/></svg>
        </div>
  
    </div>
  </div>

</main>
